<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/cropperjs/dist/cropper.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body>
    <div class="container">
        <div class="frist_in">
            <img src="../static/assets/images/inputs/flowers.jpg" id="image">
            <button id="cropImageBtn"> crop image</button>
        </div>
        <div class="second_in">
            <img src="../static/assets/images/inputs/photo-sizes.jpg" id="image2">
            <button id="cropImageBtn2"> crop image</button>

        </div>

        <div class="out">
            <img src="../static/assets/images/outputs/output_image1.png" id="output">
            <img src="../static/assets/images/outputs/output_image2.png" id="output">

            
        </div>

    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="../static/assets/cropperjs/dist/cropper.js"></script>
    <script src="../static/assets/js/index.js"></script>
</body>

</html>