<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/cropperjs/dist/cropper.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body>
    <div class="container">

        <div class="frist_in">
            <div id="pic1"> <img src="../static/assets/images/inputs/flowers.jpg" id="image"></div>
            <!-- <button id="cropImageBtn"> crop image</button> -->
            <div id="img_cont" class="frist_uploader">
                <input type="file" id="image_uploads" name="image_uploads" />
            </div>
            <div class="selector_first">
                <div><input type="radio" name="pic1_radio" value=0 checked="checked">Magnitude</div>
                <div><input type="radio" name="pic1_radio" value=1>Phase</div>

            </div>

        </div>


        <div class="second_in">
            <div id="pic2"><img src="../static/assets/images/inputs/musician-623362__340.jpg" id="image2"></div>

            <!-- <button id="cropImageBtn2"> crop image</button> -->
            <div id="img_cont2" class="second_uploader">
                <input type="file" id="image_uploads2" name="image_uploads" />
            </div>
            <div class="selector_second">
                <div><input type="radio" name="pic2_radio" value=0>Magnitude</div>
                <div><input type="radio" name="pic2_radio" value=1 checked="checked">Phase</div>
            </div>


        </div>

        <div class="out">
            <img class="img1" src="../static/assets/images/outputs/output_image1.png?random" id="output1">
            <!-- <img class="img2" src="../static/assets/images/outputs/output_image2.png?random" id="output2"> -->
        </div>

    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="../static/assets/cropperjs/dist/cropper.js"></script>
    <script src="../static/assets/js/index.js"></script>
</body>

</html>